<!-- Partial for table of groups -->

<% content_for :header do %>
    <% stylesheet_link_tag 'table_style',:media => :all %>
<% end %>

    <div id='Current_Groups_Table'>
        <%if @tutor_groups.any? %>
        <table class="small_button">
            <tr>
                <th>Group Name</th>
                <th>Tutors</th>
                <th>Students</th>
<!--                     <th>Courses</th>
                <th>Schedule</th> -->
                <th>Location</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <% @tutor_groups.reverse.each do |group| %>
                <tr>
                    <td><%= link_to group.name, group %>
                        <p><%= group.group_type + ': ' + group.desc %></p></td>

                    <td>
                        <% if group.tutor_ids.empty? %>
                            
                        <% else %>
                        <ul>
                            <% group.tutor_ids.all.each do |tutor| %>
                                    <%u = User.find(tutor.tid)%>
                               <li> <%= u.last_name + ', ' + u.first_name %></li>
                            <% end %> 
                        </ul>
                        <% end %>
                        
                    </td>
                    <td>
                        <% if group.student_ids.empty? %>
                            -
                         <% else%>
                            <ul>
                            <% group.student_ids.all.each do |student| %>
                                <% if student.sid %>
                                <%u = User.find(student.sid)%>
                                   <li> <%= u.last_name + ', ' + u.first_name %></li>
                                <% end %>
                            <% end %>
                            </ul>
                        <% end %>
                    </td>
                    <td><%= group.location %></td>
                    <td></td>

                    <% if false %>
                    <td><%= group.courses %></td>
                    <td><%= group.tutor %></td>
                    <td><%= group.student_ids.first %></td>
                    <td><%= group.schedule %></td>
                    <% end %>
                    <td><%= button_to "Edit", edit_group_path(group), :method => :get%></td><td><%= button_to "Delete", {:action => :delete_group, :id => group.id}%></td>
                </tr>

            <%end %>
        </table>
            <% else %>
                <p>You don't have any groups yet. Add some!</p>
            <% end %>
    </div>

    <div  class="group_controls">
    <input type='submit' class="create_new" value='Add Group' id='Add Group'/>
    <div id="new_group" style="display:none"><%= render 'groups/form' %></div>
    </div>