<!-- Partial for user with organization role -->
                    
<div id='Org_Content_View_Options' class="tabs">
    <ul class="secondary_tabs">
	   <li><a href="#org_programs">Programs</a></li>
	   <li> <a href="#org_students_tutors" >Students and Tutors</a></li>
    </ul>

	<div id='org_students_tutors'>
		<p>//Coming soon</p>
	</div>

	<div id='org_programs'>
		<input type='submit' value='Add Program' id='Add Program'/>

		<table>
			<tr>
				<th>Program Name</th>
				<th>Program Decription</th>
				<th>Program Type</th>
				<th>Number of Tutors</th>
				<th>Number of Students</th>
				<th>Details</th>
				<th>Remove</th>
			</tr>
			<% @programs.each do |program| %>
					<tr>
						<th><%= program.name %></th>
						<th><%= program.descrip %></th>
						<th><%= program.type %></th>
						<th><%= program.tutors %></th>
						<th><%= program.students %></th>
						<th><%= program.details %></th>
						<th><form><input type="submit" name="Remove"></form></th>
					</tr>
			<% end %>
		</table>
	</div>
</div>

