<%= stylesheet_link_tag    "dashboard", :media => "all" %>

<div id="profile_sidebar">
	<div id="profile_picture"><%= image_tag(current_user.photo, :alt => "Profile Picture") %></div><br/>
	<div id="name"><%=current_user.first_name%> <%=current_user.last_name%></div><br/>
	<div id="affiliation"></div><br/>
	<div id="contact"><a href="mainto:<%=current_user.email%>"><%=current_user.email%></div><br/>
	<div id="social_media"></div><br/>
	<div id="edit_profile">
		<form>
			<input type="submit" name="edit" value="Edit Profile" />
		</form>
	</div><br/>
	<div id="search"></div>
</div>




<div id="center_pane">
	<div id="tabs">

		<div id="student_tab">
			<div id="not_student">
				<p>You have not yet activated your Student account.  To register as a Student, please click <a href="signup">here</a>.
			</div>
			<div id="student">
				<div id="student_content_View_Options">
						<div id="Current_Groups_Button"></div>
						<div id="Watchlist_Button"></div>
				</div>

				<div id="Current_Groups_View">
					<div id="Add_Group_Button">
						<form action=''>
							<input type='submit' value='Add Group' id="Add Group">
						</form>
					</div>

					<div id="Current_Groups_Table"></div>
						<script>
							htmlString="";
							htmlString="<table><tr><th>Group Name</th><th>Courses</th><th>Tutor</th><th>Students</th><th>Schedule</th><th>Location</th><th>Delete</th></tr>";
							for each group in Current_Groups{
								message+="<tr><td>" + group.name+"</td><td>"+group.courses + "</td><td><a href='tuterLink'>group.tutor.name</a></td><td>" +group.students +"</td><td>"+group.schedule + "</td><td>" + group.schedule + "</td><td>"+group.location + "</td><td><form action='post'><input type=submit value='Remove' id='group.name'></form></td></tr>";
							}
							getElementbyID(Current_Groups_Table).innerHTML=message;
						</script>
					
				</div>


				<div id="Watchlist_View">
					<div id="Add_Watchlist">
						<form action=''>
							<input type='submit' value='Add to Watchlist' id="Add to Watchlist" href="/search">
						</form>
					</div>
					<div id="Watchlist_Table"></div>

						
				</div>
			</div>
		</div>





		<div id="tuter_tab">
			<div id="not_tuter">
				<p>You have not yet activated your Tutor account.  To register as a Tutor, please click <a href="signup">here</a>.
			</div>

			<div id="tuter">
				<div id="Tutor_Content_View_Options">
					<div id="Groups_Button"></div>
					<div id="Search_Students"></div>
				</div>

				<div id="Groups_View">
					<div id="Add_Group_Button">
						<form action=''>
							<input type='submit' value='Add Group' id="Add Group">
						</form>
					</div>

					<div id="Current_Groups_Table"></div>
					<script>
						htmlString="";
						htmlString="<table><tr><th>Group Name</th><th>Courses</th><th>Tutor</th><th>Students</th><th>Schedule</th><th>Location</th><th>Edit</th><th>Delete</th></tr>";
						for each group in Current_Groups{
							message+="<tr><td>" + group.name+"</td><td>"+group.courses + "</td><td><a href='tuterLink'>group.tutor.name</a></td><td>" +group.students +"</td><td>"+group.schedule + "</td><td>" + group.schedule + "</td><td>"+group.location + "</td><td><form action='post'><input type=submit value='Edit Group' id='group.name'></form></td><td><form action='post'><input type=submit value='Delete Group' id='group.name'></form></td></tr>";
						}
						getElementbyID(Current_Groups_Table).innerHTML=message;
					</script>
				</div>

				<div id="Search_Students_View">
					<form>
						<input type="text" id="name">
						<input type="text" id="course">
						<input type="text" id="location">
						<input type="text" id="schedule">
						<input type="submit" id="Search_Students"
					</form>
				</div>				

			</div>
		</div>




		<div id="org_tab">
			<div id="not_org">
				<p>You do not currently manage an Organization.  To register an Organization, please click <a href="signup">here</a>.
			</div>
			<div id="org">
				<div id="Org_Content_View_Options">
						<div id="Students and Tutors"></div>
						<div id="Programs"></div>
				</div>

				<div id="Org_Students_Tutors">

				</div>

				<div id="Org_Programs">
					<div id="Add_Program_Button">
						<form action=''>
							<input type='submit' value='Add Program' id="Add Program">
						</form>
					</div>

					<table>
						<th>Program Name</th>
						<th>Program Decription</th>
						<th>Program Tyoe</th>
						<th>Number of Tutors</th>
						<th>Number of Students</th>
						<th>Details</th>
						<th>Remove</th>
						//Create a TR for each program
					</table>

				</div>

			</div>

		</div>


	</div>
</div>