<%= content_for :header do %>
    <%= stylesheet_link_tag 'form_style', :media => "all" %>
<% end %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for([resource, resource.with_location], :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form_element">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>

  <div><%= f.label :password %> 
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>



  <!-- User can update roles associated with account -->
  <div><label>Roles</label>
  <% for role in User::ROLES %>
        <% if role != :admin %>
        <div class="checkbox_group">
          <%= check_box_tag "user[roles][#{role}]", role, current_user.roles.include?(role), {:name => "user[roles][]"} %>
          <%= label_tag "user_roles_#{role}", role.humanize %><br />
        </div>
        <% end %> 
  <% end %>
  <%= hidden_field_tag "user[roles][]", "" %>
  </div>
    <!-- Only require user password if they haven't logged in through facebook-->

  <div>
    <%= f.label :age %>
    <%= select(:user, :age, User.age_range, {:include_blank => :true}) %></div>

  <div>
    <%= f.label :year %>
    <%= select(:user, :year, User.years, {:include_blank => :true}) %></div>
  <% if current_user.role? :tutor%>
  <div>
    <% rates_array = Array.new
        start_rate  = 0
        end_rate    = 100
        interval    = 10
        i = start_rate

        until end_rate < i
            rates_array.push("$#{i} - $#{i + interval}")
            i += interval
        end%>
    <%= f.label :rate%>
    <%= select(:user, :rate, rates_array, {:include_blank => '-'}) %>
  </div>
  <% end %>

  <div>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </div>
  <div>
    <%= f.label "Short Description of Yourself" %>
    <%= f.text_area :desc %></div>

  <hr/>
  <% if f.object.encrypted_password.present? %>
    <div><%= f.label "Enter password to confirm changes" %> 
    <%= f.password_field :current_password %><br /></div>
  <% end %>


  <div><label></label><%= f.submit "Update" %></div>
<% end %>
<h3>Cancel my account</h3>
    <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.
