<% where_am_i = 'views/devise/registrations/new.html.erb'%>
<%=  where_am_i if Rails.env.development? %>
<%= stylesheet_link_tag  "form_style", :media => "all" %>

<h2>Register With Tuter</h2>
<%= form_for(@user, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %> 

<div class="centered_form" >
  <div class="form_element"><%= f.label :first_name%>
  <%= f.text_field :first_name, :autofocus => true%></div>

  <div class="form_element"><%= f.label :last_name%>
  <%= f.text_field :last_name%></div>

  <div class="form_element"><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div class="form_element"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div class="form_element"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div class="form_element"><%= f.label "Short Description of Yourself" %>
  <%= f.text_area :desc %></div>

  <!-- Student Fields -->

  <!--  Tutor Fields-->

  <!-- Org Fields -->
  <div class="form_element">
  <label class="spacer"></label>
  <%= f.submit "Sign up" %>
  </div>

<% end %>
<%= render "devise/shared/links" %>
</div>
