<%= content_for :header do%>
    <%= stylesheet_link_tag    "form_style", :media => "all" %>

<% end %>

<h2>Tuter Registration - <%= params[:role].humanize %></h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %> 

<div class="centered_form" >
  <div class="form_element"><%= f.label :first_name%>
  <%= f.text_field :first_name, :autofocus => true%></div>

  <div class="form_element"><%= f.label :last_name%>
  <%= f.text_field :last_name%></div>

  <div class="form_element"><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div class="form_element"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div class="form_element"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div class="form_element"><%= f.label "Short Description of Yourself" %>
  <%= f.text_area :desc %></div>

  <!-- Student Fields -->
  <% if params[:role]=="student"%>
    <%= f.hidden_field :student, :value => true %>
  <% end %>

  <!--  Tutor Fields-->
  <% if params[:role]=="tutor"%>
    <%= f.hidden_field :tutor, :value => true %>
  <% end %>
  
  <!-- Org Fields -->
  <% if params[:role]=="org"%>
    <%= f.hidden_field :org, :value => true %>
  <% end %>

  <div class="form_element">
  <label class="spacer"></label>
  <%= f.submit "Sign up" %>
  </div>

<% end %>
<%= render "devise/shared/links" %>
</div>
