<%= content_for :header do%>
  <%= stylesheet_link_tag    "search", :media => "all" %>
  <%= javascript_include_tag "sorttable", "search_table" %>  
<% end %>

<h1>Find A Tutor</h1>
<div id = "sidebar">
    <h2>Search</h2>
    <form method="get">
        <div class="form_element">
            <label>Search All</label>
            <label class="helper_text">Search any</label>
            <input id="keyword_search" type="text" name="general_search" value="<%= params[:search_all] %>">
        </div> 

      <div class="form_element">
        <label>Location</label>
        <label class="helper_text">Zip code</label>
        <input type="text" name="location"/>
      </div>

      <div class="form_element">
        <label>Course</label>
        <label class="helper_text">Course code</label>
        <input type="text" name="course"/>
      </div>
      <div class="form_element">
        <label>Name</label>
        <label class="helper_text">Tutor's Name</label>
        <input type="text" name="name"/>
      </div>

        <div class="form_element" id="group_types">
          <label>Type</label>
          
          <% Group.group_types.each do |t| %>  
          <div class="checkbox_group">
            <input type="checkbox" value=<%=t%> name=<%= t %> />
            <label class="checkbox" for="<%=t.humanize%>"><%=t.humanize%></label>
          </div>
          <% end %>
        </div>
        
        <div class="form_element">
          <label>Rate</label>
          <br/>
          <select name="rates">
            <% @rates.each do |range| %>
              <option><%= range %></option>
            <% end %>
          </select>
        </div>

       <!--  <div class="form_element">
            <label>Organization</label>
            <label class="helper_text">Tutoring Organizations</label>
            <input type="text" name="organization"/>
        </div> -->
        <input value="Search!" type="submit"/>
    </form>
</div>

<div id="results">
  <h2>Results</h2>
  <p>Click on headers to sort rows</p>
  <table id="results_table" class="sortable"> 
  <thead> 
  <tr> 
    <th>Last Name</th> 
    <th>First Name</th> 
    <th>Courses</th> 
    <th>Location</th> 
    <th>Availability</th> 
    <th>Type</th> 
    <th>Rate</th> 
  </tr> 
  </thead> 

  <tbody> 

    <% @tutors.each do |user| %>
    <tr> <td>
    <%= link_to user_path user do %>
        <%= user.last_name %>
    <% end %>     </td> 
        <td><%= user.first_name %></td> 
        <td>
          <%= if user.courses.any?
                user.courses.join(', ') 
                else 
                  '-'
              end %>
        </td> 
        <td><%= randomLocation() %></td> 
        <td>5pm-6pm</td> 
        <td><%= get_types(user).join(', ')%></td> 
        <td><%= if user.rate? 
                  user.rate 
                else 
                  '-' 
                end%></td> 
    </tr>
    <% end %>
    </tbody> 
    </table> 

  <p id="no_results">No matching results. Please try other terms.</p>
</div>
