<%= content_for :header do %>
    <%= stylesheet_link_tag 'form_style', :media => "all" %>
<% end %>

<%= form_for(@group) do |f| %>
    <div class="field form_element">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div class="field form_element">
        <%= f.label 'Description' %>
        <%= f.text_field :desc %>
    </div>

    <div class="field form_element">
        <%= f.label :location %>
        <%= f.text_field :location %>
    </div>  

    <div class="field form_element">
        <%= f.fields_for :student_ids do |studentBuilder| %>
            <%= render "groups/studentFields", :f => studentBuilder %>
        <% end %>   
    </div>

    <div class="field form_element">
        <%= f.fields_for :tutor_ids do |tutorBuilder| %>
            <%= render "groups/tutorFields", :f => tutorBuilder %>
        <% end %>
    </div>

	<div class="actions small_button float_right">
    	<%= f.submit %>
  	</div>

    <div class="actions small_button float_left">
        <%= button_to "Cancel", {}, :class => "cancel", :id=>"cancel_create" %>
    </div>

<% end %>