<%= form_for(@new_group) do |f| %>
    <div class="field form_element">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    	<div class="field form_element">
		<%= f.label 'Description' %>
		<%= f.text_field :desc %>
	</div>
	
	<div class="actions">
    	<%= f.submit %>
  	</div>

<% end %>