<%= content_for :header do %>
    <%= stylesheet_link_tag 'groups' %>
    <%= stylesheet_link_tag 'form_style' %>
<% end %>
<div class="single_group">

<div>
    <h2><%= @group.name.humanize %></h2>
</div>

<div>
    <h3>Course </h3>
    <ul><li><%= @group.course.course_code%> - <%= @group.course.name %></li></ul>
</div>

<div>
    <h3>Location</h3>
    <ul><li><%= @group.location %></li></ul>
</div>

<div>
    <h3>Tutors</h3>
    <ul>
    <% @group.tutor_ids.all.each do |tutor| %>
        <%u = User.find(tutor.tid) %>
        <li><%= link_to  u.full_name, u%></li>
    <% end %>
    </ul>
</div>

<div>
    <h3>Students</h3>
    <ul>
        <%@group.students.each do |s|%>
            <li><%= link_to s.full_name, s %></li>
        <% end -%>
    </ul>
</div>

<br />
<%= link_to "Edit Group", edit_group_path(@group) %> | <%= link_to "Delete Group", @group, method: :delete %>

</div>