<%= content_for :header do%>
  <%= stylesheet_link_tag "home", "gmaps4rails", :media => "all" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.base", 
                             "gmaps4rails/gmaps4rails.googlemaps", "gmaps_curr_location" %>
  <%= javascript_include_tag "home.js" %>
<% end %>

<ul class="horizontal_links">
  <li><a> About   </a></li>
  <li><a> Contact </a></li>
  <li><a> Blog    </a></li>
</ul>

<h1 class="inline">Tuter:</h1>
<h2 class="inline">The Ultimate Tutor Finder</h2>

<div>
    <div id="home_sidebar" class=" small_button">
    <h2 class="first_h">New here? You can</h2>
      <h3>1. Browse Tutors</h3>
          <ul class="button_list"><%=link_to  "search" do %><li>Check 'em out!</li><% end %><ul>
      <h3>2. Find a Tutor</h3>
      <input type="text"  id="search_all_field"/>
      <input type="button" id="search_all" value="Go!"/>


    <h3>3. Sign up as a</h3>
    <ul class="button_list grey">
      <%= link_to "users/sign_up?type=tutor" do%><li>Tutor</li><% end %>
      <%= link_to "users/sign_up?type=student" do%><li>Student</li><% end %>
      <%= link_to "users/sign_up?type=org" do%><li>Organization</li><% end %>
    </ul>
    <h2>
  </div>

  <div id="map_div">
    <h2 class="first_h">Tutors Near You</h2>
    <div id="google_map">
      <%= gmaps4rails(@json) %>
    </div>
  </div>
</div>
