<!-- Partial for user profile sidebar. Displays user's personal information -->
<% content_for :header do %>
    <% stylesheet_link_tag "user_profile", :media => "all" %>
<% end %>
<div id="profile">
    <!-- Display User Profile Picture-->
    <% if @user.photo? %>
        <%= image_tag(@user.photo, :alt => "Profile Picture") %>
    <% else %>
        <%= image_tag("/images/def_profile_pic.jpg", :alt => "Profile Picture")%>
    <% end %>

    <h2><%=@user.first_name %> <%=@user.last_name %></h2>
    <p><%=@user.desc %></p>


    <h3>Courses</h3>
    <p><%= @user.courses.join(' <br/> ').upcase.html_safe %></p>
    <h3>Personal Information</h3>
    <div>
    <% if @user.age? %>
        <%=@user.age %> years old,
    <% end %>    
    <% if @user.year? %>
        <%=@user.year %>
    <% end -%>
    <% if @user_location %>
        <br />
        <%= link_to edit_location_path(@user_location) do %>
        <span class="address"><%= @user_location.address.split(',').join('<br/>').html_safe%></span>
        <% end %>
    <% else %>
        <%= link_to "Add Location", new_location_path %>
    <% end %>
    </div>
    <!-- <div>Transportation: Bus, Walk</div>
    <div>Tutor Rating: <a>**** (4)</a></div>
 -->
    <h3>Roles</h3>
    <ul>
        <% if @user.role? :student %> <li>Student</li> <% end %>
        <% if @user.role? :tutor %><li>Tutor</li> <% end %>
        <% if @user.role? :org %> <li>Organization</li><% end %>
    </ul>

    <h3>Contact Info</h3>
    <div><a href="mailto:<%=@user.email%>"><%= @user.email %></a></div>
    <div><% if @user.fb_profile %><%= link_to "Facebook Profile", @user.fb_profile %><% end %></div>
    <!-- Button to edit user profile -->
    <h3>Schedule</h3>
    <%= link_to "View", week_availabilities_path(:user_id => @user.id) %>

    <!-- Only display edit user option for own profile -->
    <% if current_user and @user.id == current_user.id %>
    <div class="small_button unimp">
    <%= button_to "Edit Profile", edit_user_registration_path(@user), :method=> :get %>
    </div>
    <% end %>

</div>
