	<!--function generateProfileButtons(){
		var htmlstring="";
		if(current_user.has_one(StudentRole)){
			htmlstring+="<input type=\"submit\" name=\"student\" value=\"Student Profile\">";
		}
		if(current_user.has_one(TutorRole)){
			htmlstring+="<input type=\"submit\" name=\"tutor\" value=\"Tutor Profile\">";
		}
		if(current_user.has_one(OrganizationRole)){
			htmlstring+="<input type=\"submit\" name=\"org\" value=\"Organization Profile\">";
		}			

		var tableAnchor=document.getElementById('profileButtons');
		tableAnchor.innerHTML=htmlString;
	}-->
<% content_for :header do %>
    <% stylesheet_link_tag "user_profile", :media => "all" %>
<% end %>
<script type="JavaScript">

	function generateProfileButtons(){
		var htmlString="";
		htmlstring+="<input type=\"submit\" name=\"student\" value=\"Student Profile\">";
		htmlstring+="<input type=\"submit\" name=\"tutor\" value=\"Tutor Profile\">";
		htmlstring+="<input type=\"submit\" name=\"org\" value=\"Organization Profile\">";
		var tableAnchor=document.getElementById('profileButtons');
		tableAnchor.innerHTML=htmlString;
	}
		 
	

</script>

<div id="profile">
<h2><%=current_user.first_name%> <%=current_user.last_name%></h2>

<form>
<div id="profileButtons" onload="generateProfileButtons()"></div>
</form>

<% if current_user.photo? %>
	<%= image_tag(current_user.photo, :alt => "Profile Picture") %>
<% else %>
	<%= image_tag("/images/def_profile_pic.jpg", :alt => "Profile Picture")%>
<% end %>
<br/><br/>

<script type="JavaScript">
	//for each affiliation that user belongs to 
	//for(var i; i<numOrgs; i++){
		//echo <div><a href="orgpage">Affiliation NAME</a></div> -- <div>Affiliation Type (Student/Tutor)</div>
	//}

</script>

<h3>Roles:</h3>
<ul>
    <% if current_user.student? %> <li>Student</li> <% end %>
    <% if current_user.tutor? %> <li>Tutor</li> <% end %>
</ul>
<br/>

<h3>Contact Info:</h3>
<div><a href="mainto:<%=current_user.email%>"><%=current_user.email%></a></div>
<div>Phone Number</div>
<div>User Facebook Link (if applicable)</div>
<div>User Twitter Link (if applicable)</div>


<h3>Personal Information</h3>
<div>Age: 22</div>
<div>Year in School: Senior</div>
<div>Transportation: Bus, Walk</div>
<div>Tutor Rating: <a>**** (4)</a></div>
<br/>

<form>
	<input type="submit" name="edit" value="Edit Profile" />
</form>
</div>







