<%= content_for :header do%>
    <%= stylesheet_link_tag    "form_style", :media => "all" %>

<% end %>

<h2>Create a New Group</h2>
<%= form_for(resource, :as => resource_name, :url => "groups/new") do |f| %>

<div class="centered_form" >
  <div class="form_element"><%= f.label :first_name%>
  <%= f.text_field :first_name, :autofocus => true%></div>

  <!-- Add group information here-->
  <!-- Going to need some sort of search function to find students and add them to the group list -->

  <div class="form_element">
  <label class="spacer"></label>
  <%= f.submit "Create Group" %>
  </div>
<% end %>

</div>