<%= content_for :header do%>
  
<% end %>

<h1>Organization Index Page</h1>
<ul>
<% if current_user and current_user.role? :org%>
	<li><%= link_to "/dashboard" do%>Create Organization<% end %></li>
<% end %>
</ul>
<div id="the_organizations">
	<h2>Organizations</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Show</th>
			<th>Owner</th>
		</tr>
	<% @organizations.each do |organization| %>
	<tr><td>
		<%= organization.name %></td>
		<td>
		<%= link_to 'Show', organization %></td>
		<td>
			<%= User.find(organization.user_id).last_name%>
			</td>
	</tr>
<% end %>
</table>
</div>