<p id="notice"><%= notice %></p>
<h2><%= @location.name %></h2>
<p><%= @location.address %></p>
<p>Lat : <%= @location.latitude %></p>
<p>Long :<%= @location.longitude %></p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
