<!DOCTYPE html>
<html>
<head>
  <title>Tuter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <p class="notice"><%= notice%></p>
    <p class="alert"><%= alert %></p> 

    <div id="wrapper">
        <header>
            <nav>
                <ul id="nav_all">
                    <li>Home</li>
                    <li>Find a Tutor</li>
                    <li>Be a Tutor</li>
                </ul>

                <% if user_signed_in? %>
                  Logged in as <strong><%= current_user.email %></strong>.
                  <%= link_to 'Edit profile', edit_user_registration_path %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                <% else %>
                <ul id="nav_user">
                  <li><%= link_to "Sign up", new_user_registration_path %></li>
                  <li><%= link_to "Login", new_user_session_path %></li>
                </ul>
                <% end %>
            </nav>
        </header>

        <div id="maincontent">

        <%= yield %>

        </div>

    </div>
</body>
</html>
