<!DOCTYPE html>
<html>
<head>
  <title>Tuter</title>
  <%= stylesheet_link_tag    "application.css", :media => "all" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tags %>
  <%= content_for :header%>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="alerts_and_notice">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> 
    </div>
    <div id="wrapper">
        <header>
            <nav>
                <ul id="nav_all">

                  <li><%= link_to "Home", root_url %></li>
                  <li><%= link_to "Find a Tutor", "/search"%></li>
                  <li><%= link_to "Be a Tutor", new_user_registration_url %></li>
                </ul>

                <ul id="nav_user">
                  <% if user_signed_in? %>
                    <li>Logged in as <%= current_user.first_name + " " + current_user.last_name %>.</li>
                    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                    <li><%= link_to "Login", new_user_session_path %></li> 
                    <li><%= link_to "Sign in with Facebook", "/users/auth/facebook" %></li> 
                  <% end %> 
                </ul>
            </nav>
        </header>
        <div id="maincontent">
          <%= yield %>
        </div>
    <footer>
        <p>Questions, feedback or problems? Contact us at <a href="mailto:admin@tuter.me">admin@tuter.me</a></p>
    </footer>
</body>
</html>
