<!DOCTYPE html>
<html>
<head>
  <title>Tuter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for :header %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> 
</head>
<body>
  <div id="alerts_and_notice">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
  </div>
  <div id="wrapper">
    <header>
      <nav>
        <ul id="nav_all">
          <%= link_to root_url do%><li>Home</li><% end %>

          <%= link_to "/search" do%><li>Find a Tutor</li><% end %>

          <% if current_user %>
            <!-- Need link to adding a tutor role to user, putting off until later -->
          <% else %>
            <%= link_to new_user_registration_url + "?role=tutor" do%><li>Be a Tutor</li><% end %>
          <% end %>
            <%= link_to "/search" do%><li>Tutoring Organizations</li><%end %>
        </ul>

        <ul id="nav_user">
          <% if current_user %>
            <%= link_to "/user" do%><li>Logged in as <%= current_user.first_name + " " + current_user.last_name %>.</li>
          <% end %>
            <li><%= link_to "Dashboard", "/dashboard" %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log In", new_session_path(User) %></li> 
            <li><%= link_to "Sign in with Facebook", "/users/auth/facebook" %></li> 
          <% end %>
                   
        </ul>
      </nav>
        </header>
        <div id="maincontent">
          <%= yield %>
          <%= yield :scripts %>
        </div>
    <footer>
      Questions, feedback or problems? Contact us at <a href="mailto:admin@tuter.me">admin@tuter.me</a>
    </footer>
</body>
</html>
